.idea/
.github/

.dockerignore
.gitignore

__pychace__/
.venv/
.coverage
.pylintrc
.pytype/
ord_app/tests/
docker-compose.yml
Dockerfile
Dockerfile.single
format.sh
Makefile
MANIFEST.in
ruff.toml

ui/node_modules/